.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
padding: 20px;
  }

  .margin {
margin: 30px;
  }

  .border { 
      border: 5px solid black;
  }
  


  .super-mario {
    width: 200px;
   
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    right: 400px;   
    top: 500px;
  }
  
  .baloon {
  position: absolute;
top: 700px;  
right: 200px;
z-index: 2;
}
  
  .speach {
    font-size: 25px;
 position: absolute;
 top: 750px;
 z-index: 1;
}
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 10px;
    top: 820px
  }
  
